:root
{
    --background-color: #f4c7e3;
    --color2: #875682;
    --color3: #cb84a0;
    --color4: #fededd;
    --Background: #5a2454;
    --Text: #ffffff;
    background-color: var(--Background);
    
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}
body {
    display: flex;
    flex-direction: column;
}
p, b
{
    color: var(--Text);
    margin: 0px;
}
a
{
    color: var(--Text);
}
h2
{
    color:var(--Text);
    margin: 1px;
}

header
{
    background-color: var(--color3);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}

.Navbar-button
{
    background-color: var(--color3);
    display:flex;
    overflow:hidden;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
}
.Navbar-Link:hover
{
    background-color: var(--background-color);
}
.Navbar-Link
{
    padding: 0.5rem;
    text-decoration: none;

}

#Nav-Container {
    display:flex;
    overflow:hidden;
    align-items: center;
}

#Content
{
    margin-top: 5%;
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

#Forum-display
{
    display:grid;
    grid-template-columns: 10% 70% 10%;
    grid-gap: 5%;
}

#Forum
{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow-y: auto;
    box-sizing: border-box;
    overflow-x: hidden;
}

.Post
{
    width: 100%;
    border-radius: 5px;
    background-color: var(--color3);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.Profile-image
{
    max-width: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 2px solid var(--background-color)
}

.Post-image
{
    max-width: 80%;
}

.Post-header
{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    justify-content: space-between;
}

.Post-content
{
    padding: 10px;
}

.Post-footer
{
    padding: 3px;
}

footer 
{
    background-color: var(--color3);
    position: relative;
    bottom: 0;
    padding: 1rem;
    margin-top: 15px;
}

#Team-info {
    text-align: center;
}

.Post-misc
{

}

#Side-banner-left
{
    
}

.Advertisement
{
    
}

#Side-banner-right
{

}

#Login-form {
    width: min-content;
    border-radius: 5px;
    background-color: var(--color3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    align-self: center;
    margin-top: 1rem;
}
#login {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.Like-button:hover {
    background-color: #0056b3;
}
